*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    font-size: 18px;
    box-sizing: border-box;
}
.clear{
    clear: both;
}
header{
    width: 100%;
    height: 94px;
    background-color: #000;
    margin-bottom: 51px;
    padding: 12px 100px;
}
h1{
    width: 70px;
    height: 70px;
    background-image: url(../img/music-note.png);
    background-repeat: no-repeat;
    background-size: 100%;
    text-indent: -999999999px;
    margin-right: 168px;
    float: left;
}
nav li{
    float: left;
    margin-right: 20px;
    padding-top: 24px;
}
nav li a{
    color: #ffffff;
}
h1 a{
    display: block;
    width: 70px;
    height: 70px;
}
.playlist1{
    width: 280px;
    margin-left: 110px;
    float: left;
    margin-bottom: 50px;
}
.playlist1 h2{
    padding-bottom: 52px;
}
.playlist1 h2{
    padding-bottom: 52px;
}
.notes{
    width: 230px;
    height: 65px;
    background-image: url(../img/sound.png);
    background-repeat: no-repeat;
    background-size: 25%;
    background-repeat: repeat-x;
    margin: auto;
    margin-bottom: 108px;
    background-repeat: 3;
}
.playlist3{
}
.playlist2{
    width: 280px;
    margin-left: 100px;
    margin-right: -100px;
    float: left;
    margin-bottom: 138px;
}
.notes2{
    width: 230px;
    height: 65px;
    background-image: url(../img/sound.png);
    background-repeat: no-repeat;
    background-size: 25%;
    background-repeat: repeat-x;
    margin: auto;
    margin-bottom: 108px;
    background-repeat: 3;
}
.last{
    font-size: 36px;
    text-align: center;
    margin-bottom: 144px;
}
.social{
    width: 50px;
    height: 50px;
    top: 214px;
    right: 0;
    position: fixed;
}
.fb, .insta{
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    float: unset;
}
.fb a, .insta a{
    width: 100%;
    height: 100%;
    display: block;
}
.fb{
    background-image: url(../img/fb.png);
}
.insta{
    background-image:url(../img/instagram.png);
}
footer{
    width: 100%;
    height: 354px;
    background-color: #000;
    padding-bottom: 0px;
    margin-top: 100px;
}
footer img{
    background-image: url(../img/music-note.png);
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.img{
    padding-left: 605px;
    padding-top: 27px;
    padding-bottom: 26px;

}
.footertext{
    color: #ffffff;
    text-align: center;
    padding-bottom: 50px;
}
.footertext1{
    color: #ffffff;
    text-align: center;

}